<html>
<head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <link rel="stylesheet" href="../../stylesheets/style.css">
</head>
<body>
<header>
    <a href="/" class="logo">
        <img src="../../images/intro.png" alt="logo">
    </a>
    <div class="whole-cart">
        <a href="/cart">
            <button class="cart-button">
                <span class="cart-name">cart</span>
                <span class="cart-icon-wrapper">
                    <i class="material-icons">shopping_cart</i>
                    <span class="round-counter">3</span>
                </span>
                </i>
            </button>
        </a>
    </div>
</header>
</body>
</html>