<html>
<head>
    <link rel="stylesheet" href="../../stylesheets/style.css">
</head>
<body>
<header>
    <a href="/" class="logo">
        <img src="../../images/intro.png" alt="logo">
    </a>
    <div class="whole-cart">
        <a href="/cart">
            <button class="cart">
                <span class="cart-name">cart</span>
                <i class="cart-image">
                    <img src="../../icons/shopping_cart-24px.svg" alt="cart" class="cart-icon"/>
                    <span class="round-counter">3</span>
                </i>
            </button>
        </a>
    </div>
</header>
</body>
</html>